Operações Basicas

In [ ]:
2+1

In [ ]:
2-1

In [ ]:
2*2

In [ ]:
3/2

Calculo do modulo (resto de uma divisão)

In [ ]:
7/4

In [ ]:
7 % 4

In [ ]:
50 % 5

In [ ]:
23 % 2

In [ ]:
20 % 2

Efetuando potenciações

In [ ]:
 2 ** 3

Utilizando parenteses para definir ordem dos calculos

In [ ]:
2 + 10 * 10 + 3

In [ ]:
(2 + 10) * (10 + 3)

Assignando valores

In [ ]:
a = 5

In [ ]:
a

In [ ]:
a = 10

In [ ]:
a

efetuando operacoes matematicas com as variaveis

In [ ]:
a + a

assignando o resultado de operações matematicas em uma variavel

In [ ]:
a = a + a

In [ ]:
a

usando type() para identificar o tipo de uma variavel

In [ ]:
type(a)

In [ ]:
a = 30.1

In [ ]:
type(a)

escrevendo multiplas instruções em uma celula

In [ ]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [ ]:
my_taxes

strings em python

In [ ]:
'hello'

In [ ]:
"world"

In [ ]:
'isso tambem é uma string'

usando aspas duplas quando há textos com aspas simples no meio

In [ ]:
"I'm going on a run"

usando a função print()

In [ ]:
print("hello")

In [ ]:
print('hello world one')
print('hello world two')

escape sequence

In [ ]:
print('hello \nworld')

In [ ]:
print('hello \tworld')

usando a função len() para verificar o tamanho de uma string

In [ ]:
len('hello')

In [ ]:
len('i am')

trabalhando com indices

In [ ]:
mystring = 'Hello World'

In [ ]:
mystring

In [ ]:
mystring[0]

In [ ]:
mystring[8]

usando indice reverso

In [ ]:
mystring[9]

In [ ]:
mystring[-2]

usando slicer

In [ ]:
mystring = 'abcdefghijk'

In [ ]:
mystring

In [ ]:
mystring[2:]

In [ ]:
mystring[:3]

In [ ]:
mystring[3:6]

In [ ]:
mystring[1:3]

usando slicer com stepsize

In [ ]:
mystring[::2]

In [ ]:
mystring[::3]

In [ ]:
mystring[2:7:2]

invertendo a ordem de uma string

In [ ]:
mystring[::-1]

imutabilidade

In [ ]:
name = 'Sam'

In [ ]:
name

In [ ]:
# name[0] = 'P'

utilizando concatenação para criar o valor Pam

In [ ]:
last_letters = name[1:]

In [ ]:
last_letters

In [ ]:
'P' + last_letters

In [ ]:
x = 'Hello World'

In [ ]:
x + 'it is beaultiful outside!'

utilizando o operador de multiplicação para fazer um texto se repetir inumeras vezes

In [ ]:
letter = 'z'

In [ ]:
letter

In [ ]:
letter * 10

operador de + com strings numericas

In [ ]:
2 + 3

In [ ]:
'2' + '3'

metodos e funções embutidas na variavel

In [ ]:
x = 'Hello World'

In [ ]:
x

In [ ]:
x.upper()

In [ ]:
x.lower()

In [ ]:
x.split()

In [ ]:
x = 'Hi this is a string'

In [ ]:
x

In [ ]:
x.split()

In [ ]:
x.split('i')

formatando strings com .format()

In [ ]:
print('This is a string {}'.format('INSERTED'))

In [ ]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

In [ ]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

In [ ]:
print('The {q} {b} {f}'.format(f = 'fox', b = 'brown', q = 'quick'))

formatando valores com ponto flutuante

In [ ]:
result = 100/777

In [ ]:
result

In [ ]:
print('The result was {r}'.format(r = result))

In [ ]:
print('The result was {r:1.3f}'.format(r = result))

usando f-strings

In [ ]:
name = 'Jose'

In [ ]:
name

In [ ]:
print(f'Hello, his name is {name}')

In [ ]:
name = 'Sam'
age = 3

In [ ]:
print(f'{name} is {age} years old')

trabalhando com listas

In [ ]:
my_list = [1,2,3,4,5]

In [ ]:
my_list

In [ ]:
my_list = ['String', 100, 23.2]

In [ ]:
my_list

In [ ]:
len(my_list)

trabalhando com indices em listas

In [ ]:
my_list = ['one', 'two', 'three']

In [ ]:
my_list[0]

trabalhando com slicers

In [ ]:
my_list[1:]

trabalhando com operador de concatenação

In [ ]:
another_list = ['four', 'five']

In [ ]:
my_list + another_list

In [ ]:
new_list = my_list + another_list

In [ ]:
new_list

trabalhando com alteração de valores em uma lista (mudando valores)

In [ ]:
new_list = ['one', 'two', 'three', 'four', 'five']

In [ ]:
new_list

In [ ]:
new_list[0] = 'ONE ALL CAPS'

In [ ]:
new_list

adicionando novos elementos no final da lista

In [ ]:
new_list.append('six')

In [ ]:
new_list

In [ ]:
new_list.append('seven')

In [ ]:
new_list

removendo elementos de uma lista

In [ ]:
new_list.pop()

In [ ]:
popped_item = new_list.pop()

In [ ]:
popped_item

In [ ]:
new_list

removendo elemento especifico de uma lista

In [ ]:
new_list.pop(0)

In [ ]:
new_list

ordenando valores em listas

In [ ]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [ ]:
new_list.sort()

In [ ]:
new_list

In [ ]:
num_list.sort()

In [ ]:
num_list

ordenando de forma inversa

In [ ]:
num_list.reverse()

In [ ]:
num_list

In [ ]:
new_list.reverse()

In [ ]:
new_list

dicionarios

In [ ]:
my_dictionary = {'key1':'value1', 'key2':'value2'}

In [ ]:
my_dictionary

pesquisando um valor no dicionario

In [ ]:
my_dictionary['key1']

In [ ]:
prices_lookup = {'apple':2.99, 'orange':1.99, 'leite':5.80}

In [ ]:
prices_lookup['apple']

armazenando outras listas e dicionarios

In [ ]:
d = {'k1': 123, 'k2':[0,1,2,3], 'k3':{'insideKey': 100}}

In [ ]:
d

In [ ]:
d['k2']

In [ ]:
d['k2'][2]

In [ ]:
d['k3']['insideKey']

aplicando metodos em valores dos dicionarios

In [ ]:
d = {'key1': ['a', 'b', 'c']}

In [ ]:
d

In [ ]:
d['key1'][2].upper()

adicionando novo par chave-valor

In [ ]:
d = {'k1':100, 'k2':200}

In [ ]:
d

In [ ]:
d['k3'] = 300

In [ ]:
d

sobrescrevendo um valor de uma chave

In [ ]:
d = {'k1':100, 'k2':200, 'k3':300}

In [ ]:
d

In [ ]:
d['k1'] = 'NEW VALUE'

In [ ]:
d

alguns metodos uteis para trabalhar com chaves-valor

In [ ]:
d = {'k1':100, 'k2':200, 'k3':300}

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

trabalhando com tuplas

In [ ]:
t = (1,2,3)

In [ ]:
my_list = [1,2,3]

In [ ]:
type(t)

In [ ]:
type(my_list)

checando o tamanho de uma tupla

In [ ]:
len(t)

tuplas com multiplos tipos de variaveis

In [ ]:
t = ('one', 2)

In [ ]:
t

usando index e slicers

In [ ]:
t[0]

In [ ]:
t[-1]

contando quantas vezes um valor se repete na tupla

In [ ]:
t = ('a', 'a', 'b')

In [ ]:
t

In [ ]:
t.count('a')

retornando a posição da primeira ocorrencia de um valor

In [ ]:
t.index('a')

In [ ]:
t.index('b')

trabalhando com Sets (conjuntos)

In [ ]:
myset = set()

In [ ]:
myset

adicionando valores ao set

In [ ]:
myset.add(1)

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset

adicionando um valor existente mais de uma vez

In [ ]:
myset

In [ ]:
myset.add(2)

In [ ]:
myset

transformando uma lista em um set

In [ ]:
mylist = [1,1,1,1,2,2,2,3,3,3,3]

In [ ]:
mylist

In [ ]:
set(mylist)

trabalhando com valores booleanos

In [ ]:
True

In [ ]:
False

In [ ]:
 type(True)

In [ ]:
type(False)

In [ ]:
1 > 2

In [ ]:
1 == 1

In [ ]:
None

In [ ]:
b = None

In [ ]:
b

In [ ]:
type(b)

In [ ]:
set([1,1,2,3])

trabalhando com arquivos .txt

In [ ]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

In [ ]:
pwd

lendo o arquivo

In [ ]:
myfile = open('myfile.txt')

In [ ]:
myfile.read()

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
myfile.read()

In [ ]:
myfile.seek(0)

In [ ]:
myfile.readlines()

In [ ]:
myfile.close()

usando with

In [ ]:
with open ('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [ ]:
contents

In [ ]:
# with open('myfile.txt', mode = 'w') as myfile:
    # contents = myfile.read()

In [ ]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [ ]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

adicionando uma nova linha no arquivo

In [ ]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('FOUR ON FOURTH')

In [ ]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

sobrescrever um arquivo ou criar caso não exista

In [ ]:
with open ('hadhajhciauhc.txt', mode = 'w') as f:
    f.write('I CREATED THIS FILE!')

In [ ]:
with open ('hadhajhciauhc.txt', mode = 'r') as f:
    print(f.read())

trabalhando com comparadores

In [ ]:
2 == 2

In [ ]:
2 == 1

In [ ]:
'hello' == 'bye'

In [ ]:
'bye' == 'Bye'

In [ ]:
'2' == 2

In [ ]:
2.0 == 2

In [ ]:
3 != 3

In [ ]:
4 != 5

In [ ]:
2 > 1

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
2 < 5

In [ ]:
2 >= 2

In [ ]:
4 <= 1

trabalhando com operadores logicos

In [ ]:
1 < 2

In [ ]:
2 < 3

In [ ]:
1 < 2 < 3

In [ ]:
1 < 2 > 3

In [ ]:
1 < 2 and 2 < 3

In [ ]:
1 < 2 and 2 > 3

In [ ]:
'h' == 'h' and 2 == 2

In [ ]:
1 == 1 or 2 == 2

In [ ]:
100 == 1 or 2 == 2

In [ ]:
100 == 1 or 2 == 200

In [ ]:
not 1 == 1

In [ ]:
not 400 > 5000

trabalhando com if, elif e else

In [ ]:
if True:
    print("It's true")

In [ ]:
if 3 > 2:
    print("It's true")

In [ ]:
hungry = True

if hungry:
    print('Feed Me!')

In [ ]:
hungry = False

if hungry:
    print('Feed Me!')
else:
    print("I'm not hungry")

In [ ]:
loc = 'bank'

if loc == 'car shop':
    print('cars are cool!')
elif loc == 'bank':
    print('money is cool!')
else:
    print("i don't know much.")

In [ ]:
name = 'Sammy'

if name == 'Frankie':
    print ('Welcome Frankie!')
elif name == 'Sammy':
    print ('Welcome Sammy!')
else: 
    print("What's your name?")

trabalhando com loops for

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in my_list:
    print(num)

In [ ]:
for jelly in my_list:
    print(jelly)

In [ ]:
for jelly in my_list:
    print('hello')

combinando loop for com controle de fluxo

In [ ]:
for num in my_list:
    # checando se um numero e par
    if num % 2 == 0:
        print(num)
    else:
        print(f'Impar: {num}')

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

loop for com strings

In [ ]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

In [ ]:
for letter in 'Hello World':
    print(letter)

In [ ]:
for _ in 'Hello World':
    print('Cool!')

trabalhando com tuplas

In [ ]:
tup = (1, 2, 3)

for item in tup:
    print(item)

In [ ]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [ ]:
len(mylist)

In [ ]:
for item in mylist:
    print(item)

In [ ]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

for (a,b) in mylist:
    print(a)
    print(b)

In [ ]:
mylist = [(1, 2, 3), (5, 6, 7), (8, 9, 10)]

for a,b,c in mylist:
    print(b)

usando loop for com dicionarios

In [ ]:
d = {'k1': 1, 'k2': 2, 'k3' : 3}

for item in d:
    print(item)

In [ ]:
d = {'k1': 1, 'k2': 2, 'k3' : 3}

for item in d.items():
    print(item)

In [ ]:
d = {'k1': 1, 'k2': 2, 'k3' : 3}

for key, value in d.items():
    print(value)

In [ ]:
d = {'k1': 1, 'k2': 2, 'k3' : 3}

for value in d.values():
    print(value)

trabalhando com loops while

In [ ]:
x = 0 

while x < 5:
    print(f'o valor atual de x é {x}')
    x = x + 1

In [ ]:
x = 0 

while x < 5:
    print(f'o valor atual de x é {x}')
    x = x + 1
else:
    print('X não é menor do que 5')

trabalhando com as keywords continue, break e pass em laços

In [ ]:
x = [1, 2, 3]

for item in x:
    #alguma instrução
    pass

print('fim do script')

In [ ]:
mystring = 'Sammy'

In [ ]:
mystring

In [ ]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

In [ ]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

aplicando keywords break, continue e pass com laços While

In [ ]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

operador range

In [ ]:
for num in range(10):
    print(num)

In [ ]:
for num in range(3, 10):
    print(num)

In [ ]:
for num in range(0, 10, 2):
    print(num)

operador enumerate

In [ ]:
word = 'abcde'

for item in enumerate(word):
    print(item)

In [ ]:
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

operador zip

In [ ]:
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']

In [ ]:
for item in zip(mylist1, mylist2):
    print(item)

In [ ]:
mylist3 = [100, 200, 300]
for item in zip(mylist1, mylist2, mylist3):
    print(item)

In [ ]:
mylist1 = [1, 2, 3, 4, 5, 6]
mylist2 = ['a', 'b', 'c', 'd']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

In [ ]:
list(zip(mylist1, mylist2, mylist3))

In [ ]:
mylist1 = [1, 2, 3, 4, 5, 6]
mylist2 = ['a', 'b', 'c', 'd']
mylist3 = [100, 200, 300]

for a, b, c in zip(mylist1, mylist2, mylist3):
    print(b)

operador in

In [ ]:
'x' in [1, 2, 3]

In [ ]:
'x' in ['x', 'y', 'z']

In [ ]:
'x' in 'mexico'

In [ ]:
'mykey' in {'mykey': 345}

In [ ]:
d = {'mykey': 345}

345 in d.values()

In [ ]:
d = {'mykey': 345}

345 in d.keys()

operador min e max

In [ ]:
mylist = [10, 20, 30, 40, 100]

In [ ]:
min(mylist)

In [ ]:
max(mylist)

trabalhando com numeros randomicos

In [ ]:
from random import shuffle

In [ ]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
shuffle(mylist)

In [ ]:
mylist

In [ ]:
from random import randint

In [ ]:
randint(0,100)

In [ ]:
mynum = randint(0, 10)

In [ ]:
mynum

usando a função Input

In [ ]:
input('Digite um numero aqui: ')

In [ ]:
result = input('Qual é o seu nome? ')

In [ ]:
result

In [ ]:
result = input('Digite um numero aqui: ')

In [ ]:
type(result)

In [ ]:
result = float(result)

In [ ]:
type(result)

In [ ]:
result = int(input('Digite um numero aqui: '))

In [ ]:
type(result)

list comprehension

In [ ]:
# criando uma lista de caracteres no modo "comum"
mystring = 'hello'

mylist = []

for letter in mystring:
    mylist.append(letter)
    
mylist

In [ ]:
mystring = 'hello'

mylist = [letter for letter in mystring]
    
mylist

In [ ]:
mylist = [x for x in 'word']

mylist

In [ ]:
mylist = [x for x in range (0, 11)]

mylist

In [ ]:
mylist = [x**2 for x in range (0, 11)]

mylist

In [ ]:
mylist = [x for x in range(0,11) if x%2 == 0]

mylist

In [ ]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

mylist

In [ ]:
celsius = [0, 10, 20, 34.5]

fahrenheit = [((9/5)* temp + 32) for temp in celsius]

fahrenheit

In [ ]:
results = [x if x%2 == 0 else 'Impar' for x in range(0,11)]

results

In [ ]:
mylist = []

for x in [2, 4, 6]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

mylist

In [ ]:
mylist = [x*y for x in [2, 4, 6] for y in [100, 200, 300]]

mylist

trabalhando com metodos em python

In [ ]:
mylist = [1, 2, 3]

In [ ]:
mylist.append(4)

In [ ]:
mylist

In [ ]:
mylist.pop()

In [ ]:
mylist

In [ ]:
help(mylist.insert)

trabalhando com funcoes

In [ ]:
def name_of_function():
    print('Hello')

In [ ]:
name_of_function()

In [ ]:
def name_of_function(name):
    print('Hello ' + name)

In [ ]:
name_of_function('Rafael')

In [ ]:
def add_function(num1, num2):
    return num1 + num2

In [ ]:
result = add_function(1, 2)

print(result)

In [ ]:
# definindo docstring
def name_of_function():
    '''
    DOCSTRING: informação sobre a função
    INPUT: no input
    OUTPUT: Hello
    '''
    print('Hello')

In [ ]:
help(name_of_function)

In [ ]:
def say_hello(name = 'NAME'):
    print('Hello ' + name)

In [ ]:
say_hello()

In [ ]:
say_hello('Rafael')

In [ ]:
say_hello()

In [ ]:
def say_hello(name = 'NAME'):
    print('Hello ' + name)
    
result = say_hello('Zach')

In [ ]:
result

In [ ]:
type(result)

In [ ]:
def say_hello(name = 'NAME'):
    return 'Hello ' + name
    
result = say_hello('Zach')

In [ ]:
result

In [ ]:
def add(n1, n2):
    return n1 + n2

In [ ]:
result = add(20, 30)

In [ ]:
result

In [ ]:
# encontrando uma palavra espcifica em uma string
def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False
    
dog_check('Dog ran away')

In [ ]:
# mesma funcao anterior, porem reduzida
def dog_check(mystring):
    return 'dog' in mystring.lower()

dog_check('Dog ran away')

In [ ]:
def pig_latin(word):
    
    first_letter = word[0]
    
    # checar se é uma vogal
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
        
    return pig_word

In [ ]:
pig_latin('apple')

In [ ]:
pig_latin('word')


trabalhando com '*arg e **kwargs'

In [ ]:
def myfunc(a, b):
    #retorna 5% da soma de a + b
    return sum((a,b)) * 0.05

In [ ]:
myfunc(40, 60)

In [ ]:
def myfunc(a, b, c = 0):
    #retorna 5% da soma de a + b
    return sum((a,b,c)) * 0.05

In [ ]:
myfunc(40, 60)

In [ ]:
def myfunc (*args):
    return sum(args) * 0.05

In [ ]:
myfunc(40, 60, 100, 1, 34 )

In [ ]:
def myfunc(*args):
    for item in args:
        print(item)

In [ ]:
myfunc(40, 60, 100, 1, 34)

In [ ]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choise is {}'.format(kwargs['fruit']))
    else:
        print('i did not find any fruit here')

In [ ]:
myfunc(fruit = 'apple')

In [ ]:
myfunc(fruit = 'apple', veggie = 'lettuces')

In [ ]:
def myfunc(*args, **kwargs):
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [ ]:
myfunc(10, 20, 30, fruit = 'orange', food = 'eggs', animal = 'dog')

LESSER OF TWO EVENS: write a function that returns the lesser of two given numbers IF both numbers are even, but returns the greater if one or both numbers are odd.

In [1]:
def lesser_of_two_evens(a, b):
    
    if a%2 == 0 and b%2 == 0:
        # ambos sao pares
        if a < b:
            result = a
        else:
            result = b
    else:
        if a > b:
            result = a
        else:
            result = b
    return result

In [4]:
lesser_of_two_evens(2, 4)

2

In [5]:
lesser_of_two_evens(2, 5)

5

In [6]:
def lesser_of_two_evens(a, b):
    
    if a%2 == 0 and b%2 == 0:
        # ambos sao pares
        result = min(a,b)
    else:
        result = max(a,b)
        
    return result

In [7]:
lesser_of_two_evens(2, 4)

2

In [8]:
lesser_of_two_evens(2, 5)

5

In [9]:
def lesser_of_two_evens(a, b):
    
    if a%2 == 0 and b%2 == 0:
        # ambos sao pares
        return min(a,b)
    else:
        return max(a,b)

In [10]:
lesser_of_two_evens(2, 4)

2

In [11]:
lesser_of_two_evens(2, 5)

5

ANIMAL CRACKERS: write a function takes a two-word strings and returns True if both words begin with same letter

In [12]:
def animal_cracker(text):
    wordlist = text.split()
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[0]

In [13]:
animal_cracker('Levelheaded Llama')

True

In [14]:
animal_cracker('Crazy Kangaroo')

False

In [15]:
def animal_cracker(text):
    wordlist = text.split()
    
    return wordlist[0][0] == wordlist[1][0]

In [16]:
animal_cracker('Levelheaded Llama')

True

In [17]:
animal_cracker('Crazy Kangaroo')

False

In [18]:
def animal_cracker(text):
    wordlist = text.lower().split()
    
    return wordlist[0][0] == wordlist[1][0]

In [19]:
animal_cracker('Levelheaded Llama')

True

In [20]:
animal_cracker('Crazy Kangaroo')

False

In [21]:
animal_cracker('Crazy cangaroo')

True

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. if not, return False

In [22]:
def makes_twenty(n1, n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20: 
        return True
    elif n2 == 20: 
        return True
    else:
        return False

In [23]:
makes_twenty(20,10)

True

In [24]:
makes_twenty(2, 3)

False

In [25]:
makes_twenty(10,10)

True

In [26]:
def makes_twenty(n1, n2):
    
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [27]:
makes_twenty(20,10)

True

In [28]:
makes_twenty(2, 3)

False

In [29]:
makes_twenty(10,10)

True

OLD MACDONALD: write a function that capitalizes the first and fourth letters of a name

In [36]:
 def old_macdonald(name):
        
        first_letter = name[0]
        inbetween = name[1:3]
        fourth_letter = name[3]
        rest = name[4:]
        
        return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [37]:
old_macdonald('macdonald')

'MacDonald'

In [38]:
 def old_macdonald(name):
        
        first_half = name[:3]
        second_half = name[3:]
        
        return first_half.capitalize() + second_half.capitalize()

In [39]:
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: given a sentence, return a sentence with the words reversed

In [40]:
def master_yoda(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return reverse_wordlist

In [41]:
master_yoda('i am home')

['home', 'am', 'i']

In [42]:
master_yoda('we are ready')

['ready', 'are', 'we']

In [43]:
def master_yoda(text):
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [44]:
master_yoda('i am home')

'home am i'

In [45]:
master_yoda('we are ready')

'ready are we'

ALMOST THERE: given an integer n, return True if n is withing 10 of either 100 or 200

In [46]:
 def almost_there(n):
        return (abs(100 - n) <= 10) or (abs(200 - n) <= 10)

In [47]:
almost_there(104)

True

In [48]:
almost_there(150)

False

In [49]:
almost_there(209)

True

Find 33: given a list of ints, return True if the array contains a 3 next to a 3 somewhere

In [50]:
def has_33(nums):
    
    for i in range(0, len(nums) - 1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [51]:
has_33([1, 3, 3])

True

In [52]:
has_33([1, 3, 1, 3])

False

In [53]:
has_33([3, 1, 3])

False

In [56]:
def has_33(nums):
    
    for i in range(0, len(nums) - 1):
        if nums[i:i+2] == [3, 3]:
            return True
    return False

In [57]:
has_33([1, 3, 3])

True

In [58]:
has_33([1, 3, 1, 3])

False

In [59]:
has_33([3, 1, 3])

False

PAPER DOLL: given a string, return a string where for every character in the original there are three characters

In [60]:
def paper_doll(text):
    result = ''
    
    for char in text:
        result += char*3
    return result

In [61]:
paper_doll('Hello')

'HHHeeellllllooo'

In [62]:
paper_doll('Mississipi')

'MMMiiissssssiiissssssiiipppiii'

BLACKJACK: given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [65]:
def blackjack(a, b, c):
    
    if sum([a, b, c]) <= 21:
        return sum([a, b, c])
    elif 11 in [a, b, c] and sum([a, b, c]) <= 31:
        return sum([a, b, c]) - 10
    else:
        return 'BUST'

In [66]:
blackjack(5, 6, 7)

18

In [68]:
blackjack(9, 9, 9)

'BUST'

In [69]:
blackjack(9, 9, 11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [70]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [71]:
summer_69([1, 3, 5])

9

In [72]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [73]:
summer_69([2, 1, 6, 9, 11])

14