Operações Basicas

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

Calculo do modulo (resto de uma divisão)

In [5]:
7/4

1.75

In [6]:
7 % 4

3

In [7]:
50 % 5

0

In [8]:
23 % 2

1

In [9]:
20 % 2

0

Efetuando potenciações

In [10]:
 2 ** 3

8

Utilizando parenteses para definir ordem dos calculos

In [11]:
2 + 10 * 10 + 3

105

In [12]:
(2 + 10) * (10 + 3)

156

Assignando valores

In [13]:
a = 5

In [14]:
a

5

In [15]:
a = 10

In [16]:
a

10

efetuando operacoes matematicas com as variaveis

In [17]:
a + a

20

assignando o resultado de operações matematicas em uma variavel

In [18]:
a = a + a

In [19]:
a

20

usando type() para identificar o tipo de uma variavel

In [20]:
type(a)

int

In [21]:
a = 30.1

In [22]:
type(a)

float

escrevendo multiplas instruções em uma celula

In [23]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [24]:
my_taxes

10.0

strings em python

In [25]:
'hello'

'hello'

In [26]:
"world"

'world'

In [27]:
'isso tambem é uma string'

'isso tambem é uma string'

usando aspas duplas quando há textos com aspas simples no meio

In [28]:
"I'm going on a run"

"I'm going on a run"

usando a função print()

In [29]:
print("hello")

hello

In [30]:
print('hello world one')
print('hello world two')

hello world one
hello world two

escape sequence

In [31]:
print('hello \nworld')

hello
world

In [32]:
print('hello \tworld')

hello 	world

usando a função len() para verificar o tamanho de uma string

In [33]:
len('hello')

5

In [34]:
len('i am')

4

trabalhando com indices

In [35]:
mystring = 'Hello World'

In [36]:
mystring

'Hello World'

In [37]:
mystring[0]

'H'

In [38]:
mystring[8]

'r'

usando indice reverso

In [39]:
mystring[9]

'l'

In [40]:
mystring[-2]

'l'

usando slicer

In [41]:
mystring = 'abcdefghijk'

In [42]:
mystring

'abcdefghijk'

In [43]:
mystring[2:]

'cdefghijk'

In [44]:
mystring[:3]

'abc'

In [45]:
mystring[3:6]

'def'

In [46]:
mystring[1:3]

'bc'

usando slicer com stepsize

In [47]:
mystring[::2]

'acegik'

In [48]:
mystring[::3]

'adgj'

In [49]:
mystring[2:7:2]

'ceg'

invertendo a ordem de uma string

In [50]:
mystring[::-1]

'kjihgfedcba'

imutabilidade

In [51]:
name = 'Sam'

In [52]:
name

'Sam'

In [53]:
# name[0] = 'P'

utilizando concatenação para criar o valor Pam

In [54]:
last_letters = name[1:]

In [55]:
last_letters

'am'

In [56]:
'P' + last_letters

'Pam'

In [57]:
x = 'Hello World'

In [58]:
x + 'it is beaultiful outside!'

'Hello Worldit is beaultiful outside!'

utilizando o operador de multiplicação para fazer um texto se repetir inumeras vezes

In [59]:
letter = 'z'

In [60]:
letter

'z'

In [61]:
letter * 10

'zzzzzzzzzz'

operador de + com strings numericas

In [62]:
2 + 3

5

In [63]:
'2' + '3'

'23'

metodos e funções embutidas na variavel

In [64]:
x = 'Hello World'

In [65]:
x

'Hello World'

In [66]:
x.upper()

'HELLO WORLD'

In [67]:
x.lower()

'hello world'

In [68]:
x.split()

['Hello', 'World']

In [69]:
x = 'Hi this is a string'

In [70]:
x

'Hi this is a string'

In [71]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [72]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

formatando strings com .format()

In [73]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [74]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [75]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [76]:
print('The {q} {b} {f}'.format(f = 'fox', b = 'brown', q = 'quick'))

The quick brown fox

formatando valores com ponto flutuante

In [77]:
result = 100/777

In [78]:
result

0.1287001287001287

In [79]:
print('The result was {r}'.format(r = result))

The result was 0.1287001287001287

In [80]:
print('The result was {r:1.3f}'.format(r = result))

The result was 0.129

usando f-strings

In [81]:
name = 'Jose'

In [82]:
name

'Jose'

In [83]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [84]:
name = 'Sam'
age = 3

In [85]:
print(f'{name} is {age} years old')

Sam is 3 years old

trabalhando com listas

In [86]:
my_list = [1,2,3,4,5]

In [87]:
my_list

[1, 2, 3, 4, 5]

In [88]:
my_list = ['String', 100, 23.2]

In [89]:
my_list

['String', 100, 23.2]

In [90]:
len(my_list)

3

trabalhando com indices em listas

In [91]:
my_list = ['one', 'two', 'three']

In [92]:
my_list[0]

'one'

trabalhando com slicers

In [93]:
my_list[1:]

['two', 'three']

trabalhando com operador de concatenação

In [94]:
another_list = ['four', 'five']

In [95]:
my_list + another_list

['one', 'two', 'three', 'four', 'five']

In [96]:
new_list = my_list + another_list

In [97]:
new_list

['one', 'two', 'three', 'four', 'five']

trabalhando com alteração de valores em uma lista (mudando valores)

In [98]:
new_list = ['one', 'two', 'three', 'four', 'five']

In [99]:
new_list

['one', 'two', 'three', 'four', 'five']

In [100]:
new_list[0] = 'ONE ALL CAPS'

In [101]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

adicionando novos elementos no final da lista

In [102]:
new_list.append('six')

In [103]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [104]:
new_list.append('seven')

In [105]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

removendo elementos de uma lista

In [106]:
new_list.pop()

'seven'

In [107]:
popped_item = new_list.pop()

In [108]:
popped_item

'six'

In [109]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

removendo elemento especifico de uma lista

In [110]:
new_list.pop(0)

'ONE ALL CAPS'

In [111]:
new_list

['two', 'three', 'four', 'five']

ordenando valores em listas

In [112]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [113]:
new_list.sort()

In [114]:
new_list

['a', 'b', 'c', 'e', 'x']

In [115]:
num_list.sort()

In [116]:
num_list

[1, 3, 4, 8]

ordenando de forma inversa

In [117]:
num_list.reverse()

In [118]:
num_list

[8, 4, 3, 1]

In [119]:
new_list.reverse()

In [120]:
new_list

['x', 'e', 'c', 'b', 'a']

dicionarios

In [121]:
my_dictionary = {'key1':'value1', 'key2':'value2'}

In [122]:
my_dictionary

{'key1': 'value1', 'key2': 'value2'}

pesquisando um valor no dicionario

In [123]:
my_dictionary['key1']

'value1'

In [124]:
prices_lookup = {'apple':2.99, 'orange':1.99, 'leite':5.80}

In [125]:
prices_lookup['apple']

2.99

armazenando outras listas e dicionarios

In [126]:
d = {'k1': 123, 'k2':[0,1,2,3], 'k3':{'insideKey': 100}}

In [127]:
d

{'k1': 123, 'k2': [0, 1, 2, 3], 'k3': {'insideKey': 100}}

In [128]:
d['k2']

[0, 1, 2, 3]

In [129]:
d['k2'][2]

2

In [130]:
d['k3']['insideKey']

100

aplicando metodos em valores dos dicionarios

In [131]:
d = {'key1': ['a', 'b', 'c']}

In [132]:
d

{'key1': ['a', 'b', 'c']}

In [133]:
d['key1'][2].upper()

'C'

adicionando novo par chave-valor

In [134]:
d = {'k1':100, 'k2':200}

In [135]:
d

{'k1': 100, 'k2': 200}

In [136]:
d['k3'] = 300

In [137]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

sobrescrevendo um valor de uma chave

In [138]:
d = {'k1':100, 'k2':200, 'k3':300}

In [139]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [140]:
d['k1'] = 'NEW VALUE'

In [141]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

alguns metodos uteis para trabalhar com chaves-valor

In [142]:
d = {'k1':100, 'k2':200, 'k3':300}

In [143]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [144]:
d.values()

dict_values([100, 200, 300])

In [145]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

trabalhando com tuplas

In [146]:
t = (1,2,3)

In [147]:
my_list = [1,2,3]

In [148]:
type(t)

tuple

In [149]:
type(my_list)

list

checando o tamanho de uma tupla

In [150]:
len(t)

3

tuplas com multiplos tipos de variaveis

In [151]:
t = ('one', 2)

In [152]:
t

('one', 2)

usando index e slicers

In [153]:
t[0]

'one'

In [154]:
t[-1]

2

contando quantas vezes um valor se repete na tupla

In [155]:
t = ('a', 'a', 'b')

In [156]:
t

('a', 'a', 'b')

In [157]:
t.count('a')

2

retornando a posição da primeira ocorrencia de um valor

In [158]:
t.index('a')

0

In [159]:
t.index('b')

2

trabalhando com Sets (conjuntos)

In [160]:
myset = set()

In [161]:
myset

set()

adicionando valores ao set

In [162]:
myset.add(1)

In [163]:
myset

{1}

In [164]:
myset.add(2)

In [165]:
myset

{1, 2}

adicionando um valor existente mais de uma vez

In [166]:
myset

{1, 2}

In [167]:
myset.add(2)

In [168]:
myset

{1, 2}

transformando uma lista em um set

In [169]:
mylist = [1,1,1,1,2,2,2,3,3,3,3]

In [170]:
mylist

[1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3]

In [171]:
set(mylist)

{1, 2, 3}

trabalhando com valores booleanos

In [172]:
True

True

In [173]:
False

False

In [174]:
 type(True)

bool

In [175]:
type(False)

bool

In [176]:
1 > 2

False

In [177]:
1 == 1

True

In [178]:
None

In [179]:
b = None

In [180]:
b

In [181]:
type(b)

NoneType

In [182]:
set([1,1,2,3])

{1, 2, 3}

trabalhando com arquivos .txt

In [183]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [184]:
pwd

'C:\\Users\\rafae\\Desktop'

lendo o arquivo

In [185]:
myfile = open('myfile.txt')

In [186]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [187]:
myfile.read()

''

In [188]:
myfile.seek(0)

0

In [189]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [190]:
myfile.seek(0)

0

In [191]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [192]:
myfile.close()

usando with

In [193]:
with open ('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [194]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [195]:
# with open('myfile.txt', mode = 'w') as myfile:
    # contents = myfile.read()

In [196]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [197]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

adicionando uma nova linha no arquivo

In [198]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('FOUR ON FOURTH')

In [199]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

sobrescrever um arquivo ou criar caso não exista

In [200]:
with open ('hadhajhciauhc.txt', mode = 'w') as f:
    f.write('I CREATED THIS FILE!')

In [201]:
with open ('hadhajhciauhc.txt', mode = 'r') as f:
    print(f.read())

I CREATED THIS FILE!

trabalhando com comparadores

In [202]:
2 == 2

True

In [203]:
2 == 1

False

In [204]:
'hello' == 'bye'

False

In [205]:
'bye' == 'Bye'

False

In [206]:
'2' == 2

False

In [207]:
2.0 == 2

True

In [208]:
3 != 3

False

In [209]:
4 != 5

True

In [210]:
2 > 1

True

In [211]:
1 > 2

False

In [212]:
1 < 2

True

In [213]:
2 < 5

True

In [214]:
2 >= 2

True

In [215]:
4 <= 1

False

trabalhando com operadores logicos

In [216]:
1 < 2

True

In [217]:
2 < 3

True

In [218]:
1 < 2 < 3

True

In [219]:
1 < 2 > 3

False

In [220]:
1 < 2 and 2 < 3

True

In [221]:
1 < 2 and 2 > 3

False

In [222]:
'h' == 'h' and 2 == 2

True

In [223]:
1 == 1 or 2 == 2

True

In [224]:
100 == 1 or 2 == 2

True

In [225]:
100 == 1 or 2 == 200

False

In [226]:
not 1 == 1

False

In [227]:
not 400 > 5000

True

trabalhando com if, elif e else

In [228]:
if True:
    print("It's true")

It's true

In [229]:
if 3 > 2:
    print("It's true")

It's true

In [230]:
hungry = True

if hungry:
    print('Feed Me!')

Feed Me!

In [231]:
hungry = False

if hungry:
    print('Feed Me!')
else:
    print("I'm not hungry")

I'm not hungry

In [232]:
loc = 'bank'

if loc == 'car shop':
    print('cars are cool!')
elif loc == 'bank':
    print('money is cool!')
else:
    print("i don't know much.")

money is cool!

In [233]:
name = 'Sammy'

if name == 'Frankie':
    print ('Welcome Frankie!')
elif name == 'Sammy':
    print ('Welcome Sammy!')
else: 
    print("What's your name?")

Welcome Sammy!

trabalhando com loops for

In [234]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [235]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [236]:
for jelly in my_list:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [237]:
for jelly in my_list:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

combinando loop for com controle de fluxo

In [238]:
for num in my_list:
    # checando se um numero e par
    if num % 2 == 0:
        print(num)
    else:
        print(f'Impar: {num}')

Impar: 1
2
Impar: 3
4
Impar: 5
6
Impar: 7
8
Impar: 9
10

In [239]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [240]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

loop for com strings

In [241]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [242]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [243]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

trabalhando com tuplas

In [244]:
tup = (1, 2, 3)

for item in tup:
    print(item)

1
2
3

In [245]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [246]:
len(mylist)

4

In [247]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [248]:
mylist = [(1,2), (3,4), (5,6), (7,8)]

for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [249]:
mylist = [(1, 2, 3), (5, 6, 7), (8, 9, 10)]

for a,b,c in mylist:
    print(b)

2
6
9

usando loop for com dicionarios

In [250]:
d = {'k1': 1, 'k2': 2, 'k3' : 3}

for item in d:
    print(item)

k1
k2
k3

In [251]:
d = {'k1': 1, 'k2': 2, 'k3' : 3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [252]:
d = {'k1': 1, 'k2': 2, 'k3' : 3}

for key, value in d.items():
    print(value)

1
2
3

In [253]:
d = {'k1': 1, 'k2': 2, 'k3' : 3}

for value in d.values():
    print(value)

1
2
3

trabalhando com loops while

In [254]:
x = 0 

while x < 5:
    print(f'o valor atual de x é {x}')
    x = x + 1

o valor atual de x é 0
o valor atual de x é 1
o valor atual de x é 2
o valor atual de x é 3
o valor atual de x é 4

In [255]:
x = 0 

while x < 5:
    print(f'o valor atual de x é {x}')
    x = x + 1
else:
    print('X não é menor do que 5')

o valor atual de x é 0
o valor atual de x é 1
o valor atual de x é 2
o valor atual de x é 3
o valor atual de x é 4
X não é menor do que 5

trabalhando com as keywords continue, break e pass em laços

In [257]:
x = [1, 2, 3]

for item in x:
    #alguma instrução
    pass

print('fim do script')

fim do script

In [258]:
mystring = 'Sammy'

In [259]:
mystring

'Sammy'

In [260]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [261]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

aplicando keywords break, continue e pass com laços While

In [263]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

operador range

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(0, 10, 2):
    print(num)

0
2
4
6
8

operador enumerate

In [5]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [6]:
word = 'abcde'

for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

operador zip

In [7]:
mylist1 = [1, 2, 3]
mylist2 = ['a', 'b', 'c']

In [8]:
for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [9]:
mylist3 = [100, 200, 300]
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [11]:
mylist1 = [1, 2, 3, 4, 5, 6]
mylist2 = ['a', 'b', 'c', 'd']
mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [12]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [13]:
mylist1 = [1, 2, 3, 4, 5, 6]
mylist2 = ['a', 'b', 'c', 'd']
mylist3 = [100, 200, 300]

for a, b, c in zip(mylist1, mylist2, mylist3):
    print(b)

a
b
c

operador in

In [14]:
'x' in [1, 2, 3]

False

In [15]:
'x' in ['x', 'y', 'z']

True

In [16]:
'x' in 'mexico'

True

In [17]:
'mykey' in {'mykey': 345}

True

In [18]:
d = {'mykey': 345}

345 in d.values()

True